<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="../static/chat.css">
</head>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>



      function room() {
        var room = window.location.href.substring(window.location.href.lastIndexOf("/")+1);
        if (room=="") room = "general";
        return "/api/chat/"+room;
      }
      
      function createHTMLElements(message,username){
        if(message=='')
          return $("<div></div>");
        [hour,_msg] = message.split(']');
        [msg_sender,msg_text] = _msg.split(':')
        var blog = $("<div></div>").addClass("blog")
        var sender = $("<h6></h6>").text(msg_sender).addClass("sender_txt")
        var time = $("<p></p>").text(hour.split(' ')[1]).addClass('time')
        var msg = $("<div></div>").text(msg_text).addClass("chat__message");
        if(_msg.split(':')[0] == ' ' + username)
          msg.addClass('myMsg');
        else{
          msg.addClass('otherMsg')
          blog.addClass('otherBlog')
        }
        blog.append(sender,msg,time);
        return blog;
      }

      function updateChat() {

        $.get(room(), function(data) {
          [username,messages] = data;
          var chatbox = $("#chatbox");
          chatbox.empty();
          messages.forEach(function(message) {
            chatbox.append(createHTMLElements(message,username));
          });

      window.setTimeout(updateChat, 1500);
      })
    }

    function sendmessage() {
      $.post(room(), $("#inform").serialize() );
    }
  
    $(document).ready(function() {
      $("#chatbox").text("Loading chat...");
      $("#sendBtn").click(sendmessage)
      window.setTimeout(updateChat, 1500);
    });
  
  </script>


    <body>
      <h1 class="_form-title">Chat Room: {{ room }}</h1>

      <form id="inform" action="/api/chat" method="POST" class="form_area">
            

        <div class="user-box">
          <input type="text"  name="msg" placeholder="Message" class="user-box">
        </div>

        <div class="user-box">
          <input id="sendBtn" type="button"  value="send" >
        </div>


      </form>
      
      <div class="wrapper">
        <div class="chat">
          <div id="chatbox" class="chat-container">

          </div>
        </div>
      </div>

      <footer>

        <div class="user-box">
          <a href="/logout" class="logout">logout</a>
        </div>

        <div class="user-box">
          <a href="/lobby" class="logout">Back to lobby</a>
        </div>

     </footer>

    </body>
  </html>
